@font-face {
	font-family: SFProDisplay-Regular;
	src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    
}

@font-face {
	font-family: SFProDisplay-Bold;
	src: url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    
}

body{
    

}
.container {
    width: 360px;
    height: 640px;
    background-color: #fffdf9;
    z-index:-1;
}




.icon_settings {
	width: 18px;
	height: 18px;
	object-fit: contain;



	margin-top:52px;
	margin-bottom:43px;
	margin-right:24px;
	margin-left:318px;
	position: absolute;
}



.red_bg {
	width: 360px;
	height: 113px;
	object-fit: contain;

	position: absolute;
}



.contact-header {
	width: 63px;
	height: 24px;
	font-family:SFProDisplay-Regular;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.7px;
	color: #ffffff;
	margin-top: 49px;
	margin-bottom: 567px;
	margin-right: 148px;
	margin-left: 149px;
	position: absolute;
}




.circle_inbox {
    width: 32px;
    height: 32px;
    object-fit: contain;

    margin-left:24px;
    margin-top:45px;
    margin-right:304px;
    margin-bottom:563px;
    position: absolute;
}



.inbox-num {
    width: 10px;
    height: 19px;
    font-family: SFProDisplay-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #f96d6d;
    margin-left: 35px;
    margin-top: 52px;
    margin-right: 315px;
    margin-bottom: 569px;
    position: absolute;
}



.Rectangle {
    width: 300px;
    height: 78px;
    border-radius: 23px;
    background-color: #ffe8e8;

    position:absolute;
    display:block;
    margin-top:459px;
    margin-bottom:103px;
    margin-left:0px;



}


.msg_box {
    width: 209px;
    height: 47px;
    border-radius: 23.5px;
    border: solid 1px #d6d6d8;
    background-color: #f4f4f4;
    margin-top: 569px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    position: absolute;
    border-radius: 45px;
    text-align: left;
    padding-right: 54px;
    padding-left: 48px;
    outline: none;
}



.icon_attach {
    width: 20px;
    height: 23px;
    object-fit: contain;
    

    position:absolute;
    margin-top:581px;
    margin-bottom:36px;
    margin-right:39px;
    margin-left:301px;
}

.Icon_smiley {
    width: 20px;
    height: 20px;
    object-fit: contain;

    position: absolute;
    margin-top: 582px;
    margin-right: 303px;
    margin-left: 37px;
    margin-bottom: 38px;
    position: absolute;
}



.message{

    clear: both;
    line-height: 18px;
    font-size: 15px;
    /* padding: 8px; */
    position: relative;
    margin: 8px 0;
    /* max-width: 85%; */
    /* word-wrap: break-word; */

}

.recived{
    direction: ltr;
    background-color: #fff2d8;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    float: right;
    padding-right: 61px;
    max-width: 245px;


}

.conversation
{
    display: flow-root;
    overflow-y: auto;
    position: absolute;
    height: 454px;
    width: inherit;
    margin-left: 0px;
    margin-right: 300px;
    box-sizing: border-box;
    margin-top: 114px;
    /* background: url(https://i.ibb.co/3s1f9Jq/default-wallpaper.png) repeat; */

}



.msg_time_incoming{
    direction: ltr;
    width: 38px;
    height: 14px;
    font-family: SFProDisplay-Regular;
    font-size: 10.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #9094ac;
    margin-left: 24px;
    margin-top: 20px;
    position: absolute;
    padding-right: 117px;
}


.msg_time_outgoing{
    direction: ltr;
    /* width: 231px; */
    height: 14px;
    font-family: SFProDisplay-Regular;
    font-size: 10.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #9094ac;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    /* padding-left: 117px; */
}

.msg_text_incoming{
    font-family: SFProDisplay-Bold;
    /* width: 245px; */
    /* height: 16px; */
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #76798e;
    margin-left: 24px;
    margin-top: 36px;
    overflow-wrap: break-word;
}

.msg_text_outgoing{
    font-family: SFProDisplay-Bold;
    /* width: 245px; */
    /* height: 16px; */
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #76798e;
    /* clear: both; */
    margin-left: 21px;
    margin-top: 36px;
    overflow-wrap: break-word;
}


.outgoing{
 
    background-color: #ffe8e8;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    float: left;
    padding-right: 61px;
    max-width: 245px;
}
.input{
    
}